<div class="container">
  <h2>{{ 'RESET_PASSWORD.TITLE' | translate }}</h2>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>

  <form (ngSubmit)="resetPassword()">
    <label for="password">{{ 'RESET_PASSWORD.NEW' | translate }}</label>
    <input type="password" id="password" [(ngModel)]="newPassword" name="newPassword" required/>

    <label for="confirmPassword">{{ 'RESET_PASSWORD.CONFIRM' | translate }}</label>
    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />

    <button type="submit">{{ 'RESET_PASSWORD.SUBMIT' | translate }}</button>
  </form>

  <div>
    <a [routerLink]="['/login']" class="back-link">{{ 'RESET_PASSWORD.BACK' | translate }}</a>
  </div>
</div>
